$NodeBackgroundColor: rgb(59, 130, 246);

:root {
    --BackgroundColor: rgba(17, 24, 39);
    --BackgroundSize: 16px;
    --BackgroundImage: linear-gradient(to right, rgba(107, 114, 128, 0.06) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(107, 114, 128, 0.06) 1px, transparent 1px);
    --NodeType: inline-block;
    --NodeTypeFloat: right;
    --NodeTextColor: #fff;
    --NodeBorderSize: 0px;
    --NodeBorderColor: #000000;
    --NodeBorderRadius: 1em;
    --NodeMinHeight: 40px;
    --NodeMinWidth: 160px;
    --NodePaddingTop: 15px;
    --NodePaddingBottom: 15px;
    --NodeBoxShadowHL: 0px;
    --NodeBoxShadowVL: 2px;
    --NodeBoxShadowBR: 15px;
    --NodeBoxShadowS: 2px;
    --NodeBoxShadowColor: rgba(0, 0, 0, 1);

    --NodeHoverBackgroundColor: rgba(96, 165, 250, 1);
    --NodeHoverTextColor: #000000;
    --NodeHoverBorderSize: 0px;
    --NodeHoverBorderColor: #000000;
    --NodeHoverBorderRadius: var(--NodeBorderRadius);

    --NodeHoverBoxShadowHL: 0px;
    --NodeHoverBoxShadowVL: 2px;
    --NodeHoverBoxShadowBR: 15px;
    --NodeHoverBoxShadowS: 2px;
    --NodeHoverBoxShadowColor: #4ea9ff;

    --NodeSelectedBackgroundColor: rgba(29, 78, 216);
    --NodeSelectedTextColor: rgba(0, 0, 0, 1);
    --NodeSelectedBorderSize: 0px;
    --NodeSelectedBorderColor: #000000;
    --NodeSelectedBorderRadius: var(--NodeBorderRadius);

    --NodeSelectedBoxShadowHL: 0px;
    --NodeSelectedBoxShadowVL: 2px;
    --NodeSelectedBoxShadowBR: 12px;
    --NodeSelectedBoxShadowS: 2px;
    --NodeSelectedBoxShadowColor: rgba(29, 78, 216);

    --InputBackgroundColor: #ffffff;
    --InputBorderSize: 2px;
    --InputBorderColor: #000000;
    --InputBorderRadius: 40px;
    --InputLeft: -20px;
    --InputHeight: 9px;
    --InputWidth: 5px;

    --InputHoverBackgroundColor: #ffffff;
    --InputHoverBorderSize: 2px;
    --InputHoverBorderColor: #000000;
    --InputHoverBorderRadius: 50px;

    --OutputBackgroundColor: #ffffff;
    --OutputBorderSize: 2px;
    --OutputBorderColor: #000000;
    --OutputBorderRadius: 50px;
    --OutputRight: -11px;
    --OutputHeight: 9px;
    --OutputWidth: 5px;

    --OutputHoverBackgroundColor: #ffffff;
    --OutputHoverBorderSize: 2px;
    --OutputHoverBorderColor: #000000;
    --OutputHoverBorderRadius: 50px;

    --LineWidth: 2px;
    --LineColor: #4682b4;
    --LineHoverColor: rgba(2, 11, 18, 1);
    --LineSelectedColor: #43b993;

    --RerouteBorderWidth: 3px;
    --RerouteBorderColor: #000000;
    --RerouteBackgroundColor: #ffffff;

    --RerouteHoverBorderWidth: 2px;
    --RerouteHoverBorderColor: #000000;
    --RerouteHoverBackgroundColor: #ffffff;

    --DeleteDisplay: block;
    --DeleteColor: rgba(255, 255, 255, 1);
    --DeleteBackgroundColor: #000000;
    --DeleteBorderSize: 2px;
    --DeleteBorderColor: #ffffff;
    --DeleteBorderRadius: 50px;
    --DeleteTop: -15px;

    --DeleteHoverColor: #000000;
    --DeleteHoverBackgroundColor: #ffffff;
    --DeleteHoverBorderSize: 2px;
    --DeleteHoverBorderColor: #000000;
    --DeleteHoverBorderRadius: 50px;

    --socket-size: 16px;
}

.App {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    text-align: center;
    background: var(--BackgroundColor);
    background-size: var(--BackgroundSize) var(--BackgroundSize);
    background-image: var(--BackgroundImage);
}

.node {
    display: var(--NodeType);
    background: $NodeBackgroundColor;
    border: var(--NodeBorderSize) solid var(--NodeBorderColor);
    border-radius: var(--NodeBorderRadius);
    height: auto;
    padding-bottom: var(--NodePaddingBottom);
    -webkit-box-shadow: var(--NodeBoxShadowHL) var(--NodeBoxShadowVL) var(--NodeBoxShadowBR) var(--NodeBoxShadowS)
        var(--NodeBoxShadowColor);
    box-shadow: var(--NodeBoxShadowHL) var(--NodeBoxShadowVL) var(--NodeBoxShadowBR) var(--NodeBoxShadowS)
        var(--NodeBoxShadowColor);
}

.node .title {
    color: var(--NodeTextColor);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    background: transparent;
    font-weight: bold;
}

.node .input-title {
    color: var(--NodeTextColor);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-weight: bold;
}

.node .output-title {
    color: var(--NodeTextColor);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-weight: bold;
}

.node input {
    border: 2px solid black;
    height: auto;
    width: auto;
    border-radius: var(--NodeBorderRadius);
}

.node:hover {
    background: var(--NodeHoverBackgroundColor);
    color: var(--NodeHoverTextColor);
    border: var(--NodeHoverBorderSize) solid var(--NodeHoverBorderColor);
    border-radius: var(--NodeHoverBorderRadius);
    -webkit-box-shadow: var(--NodeHoverBoxShadowHL) var(--NodeHoverBoxShadowVL) var(--NodeHoverBoxShadowBR)
        var(--NodeHoverBoxShadowS) var(--NodeHoverBoxShadowColor);
    box-shadow: var(--NodeHoverBoxShadowHL) var(--NodeHoverBoxShadowVL) var(--NodeHoverBoxShadowBR)
        var(--NodeHoverBoxShadowS) var(--NodeHoverBoxShadowColor);
}

.node.selected {
    background: var(--NodeSelectedBackgroundColor);
    color: var(--NodeSelectedTextColor);
    border: var(--NodeSelectedBorderSize) solid var(--NodeSelectedBorderColor);
    border-radius: var(--NodeSelectedBorderRadius);
    -webkit-box-shadow: var(--NodeSelectedBoxShadowHL) var(--NodeSelectedBoxShadowVL) var(--NodeSelectedBoxShadowBR)
        var(--NodeSelectedBoxShadowS) var(--NodeSelectedBoxShadowColor);
    box-shadow: var(--NodeSelectedBoxShadowHL) var(--NodeSelectedBoxShadowVL) var(--NodeSelectedBoxShadowBR)
        var(--NodeSelectedBoxShadowS) var(--NodeSelectedBoxShadowColor);
}

.socket {
    border-radius: calc(var(--socket-size) / 2);
    width: var(--socket-size);
    height: var(--socket-size);
}

.socket.number-value {
    background: #adc7ff;
}

.context-menu {
    left: 0;
    top: 10;
    position: fixed;
    padding: 10px;
    width: 200px;
    // margin-top: 20px;
    // margin-left: -$width/2;
}

.hasSubitems:after {
    content: '►';
    position: absolute;
    opacity: 0.6;
    right: 5px;
    top: 5px;
}

.subitems {
    position: absolute;
    top: 0;
    left: 100%;
    width: fit-content;
}

.item {
    color: #fff;
    padding: 4px;
    border-bottom: 1px solid $NodeBackgroundColor;
    background-color: $NodeBackgroundColor;
    cursor: pointer;
    width: 100%;
    position: relative;
}
.item:first-child {
    border-top-left-radius: var(--NodeBorderRadius);
    border-top-right-radius: var(--NodeBorderRadius);
}

.item:last-child {
    border-bottom-left-radius: var(--NodeBorderRadius);
    border-bottom-right-radius: var(--NodeBorderRadius);
}

.item:hover {
    background-color: lighten($NodeBackgroundColor, 4%);
}
